<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="BaseDatos" connectionString="Data Source=EV-NT-ZNORTE-1\BD_CZACHURSKI;Initial Catalog=Foodi;User ID=sa;Integrated Security=True" providerName="System.Data.SqlCliente"/>
	</connectionStrings>
</configuration>
